<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <%= render 'merchant/merchant_stores/merchant_store_show_header' %>
            <div class="panel-body">
                <%= render partial: 'merchant/merchant_stores/merchant_show_tab_header', locals: {index: 2} %>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>注册时触发的规则</b><a name="bank_discount"></a>
                        <%= link_to('创建新规则', new_merchant_merchant_store_merchant_register_rule_path(@merchant_store), class: 'btn btn-success') %>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <%= render partial: 'register_rule', collection: @register_rules, as: :rule %>
                    </div>
                    <!-- .panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>绑卡时触发的规则</b>
                        <%= link_to('创建新规则', new_merchant_merchant_store_merchant_bind_card_rule_path(@merchant_store), class: 'btn btn-success') %>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <%= render partial: 'bind_card_rule', collection: @bind_card_rules, as: :rule %>
                    </div>
                    <!-- .panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>交易时触发的规则</b>
                        <%= link_to('创建新规则', new_merchant_merchant_store_merchant_transaction_rule_path(@merchant_store), class: 'btn btn-success') %>
                    </div>
                    <!-- .panel-heading -->
                    <div class="panel-body">
                        <%= render partial: 'transaction_rule', collection: @transaction_rules, as: :rule %>
                    </div>
                    <!-- .panel-body -->
                </div>
                <!-- /.panel -->
            </div>
        </div>
    </div>
</div>