<tr class="no-border">
    <td><%= voucher_meta.aliases %></td>
    <td><span class="b"><%= applicable_store_text(voucher_meta) %></span></td>
    <td><%= voucher_meta_status_text(voucher_meta) %></td>
    <td>
        <span class="b red"><%= voucher_meta.denomination/100.0 %></span><br>
        <span class="b"><%= money_condition_text(voucher_meta) %></span>
    </td>
    <td>
        <%= initial_amount_text(voucher_meta) %>
        <br>
        已发放:<%= voucher_meta.issued_count %>
    </td>
    <td><%= limit_per_account_text(voucher_meta) %></td>
    <td>
        <span>类别:</span><span><%= voucher_meta_type_text voucher_meta.issuer_type %></span><br/>
        <span>标识:</span><span class="u blue"><%= voucher_meta.issuer_identifier %></span><br/>
        <span>名称:</span><span class="u blue"><%= voucher_meta.issuer_name %></span>
    </td>
    <td>
        <span>类别:</span><span><%= voucher_meta_type_text voucher_meta.settler_type %></span><br/>
        <span>标识:</span><span><%= voucher_meta.settler_identifier %></span><br/>
        <span>名称:</span><span><%= voucher_meta.settler_name %></span>
    </td>
    <td>
        <% if voucher_meta.may_enable? && can?(:enable, Member::VoucherMeta) %>
            <%= link_to '生效', member_voucher_meta_active_path(voucher_meta), class: 'btn btn-primary btn-xs', method: :put, data: {
                    confirm: "确认要生效 #{voucher_meta.aliases} 吗"
            } %><br>
        <% end %>
        <% if voucher_meta.may_disable? && can?(:disable, Member::VoucherMeta) %>
            <%= link_to '失效', member_voucher_meta_inactive_path(voucher_meta), class: 'btn btn-primary btn-xs', method: :put, data: {
                    confirm: "确认要失效 #{voucher_meta.aliases} 吗"
            } %><br>
        <% end %>
        <% if voucher_meta.may_edit? && can?(:update, Member::VoucherMeta) %>
            <%= link_to '编辑', edit_member_voucher_meta_path(voucher_meta), class: 'btn btn-warning btn-xs'%><br>
        <% end %>
        <% if voucher_meta.may_destroy? && can?(:destroy, Member::VoucherMeta) %>
            <%= link_to '删除', member_voucher_meta_path(voucher_meta), class: 'btn btn-danger btn-xs', method: :delete, data: {
                    confirm: "确认要删除 #{voucher_meta.aliases} 吗"
            } %>
        <% end %>
    </td>
    <tr>
        <td colspan="8" >
            <span>红包代码:</span><span><%= voucher_meta.code %></span>
            <span>有效期:</span>
                    <span><%= datetime_text(voucher_meta.valid_from) %>
                        至 <%= datetime_text(voucher_meta.valid_till) %></span>
            <span>备注:</span> <span class="s6"><%= voucher_meta.remark %></span>
        <td>
    </tr>