<%= search_form_for(@q, class: 'form', role: 'form') do |f| %>
    <div class="row">
        <div class="form-group col-xs-6">
            <div class="col-sm-3">
                <%= f.label :created_at_gteq, '时间起', class: 'control-label' %>
            </div>
            <div class="col-sm-6">
                <%= f.search_field :created_at_gteq, class: 'form-control datetimepicker' %>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="col-sm-3">
                <%= f.label :created_at_lteq, '时间止', class: 'control-label' %>
            </div>
            <div class="col-sm-6">
                <%= f.search_field :created_at_lteq, class: 'form-control datetimepicker' %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <div class="col-sm-3">
                <%= f.label :user_name_eq, '用户名', class: 'control-label' %>
            </div>
            <div class="col-sm-6">
                <%= f.search_field :user_name_eq, class: 'form-control'%>
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div class="col-sm-3">
                <%= f.label :action_eq, '操作', class: 'control-label' %>
            </div>
            <div class="col-sm-6">
                <%= f.search_field :action_eq, class: 'form-control'%>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-6">
            <div class="col-sm-3">
                <%= f.label :object_eq, '目标', class: 'control-label' %>
            </div>
            <div class="col-sm-6">
                <%= f.search_field :object_eq, class: 'form-control' %>
            </div>
        </div>
    </div>
<% end %>