<% content_for(:page_title, '交易明细查询') %>
<div class="modal" id="search_form_modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">输入查询条件</h4>
            </div>
            <div class="modal-body">
                <%= render 'search_form' %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a type="button" class="btn btn-danger" href="<%= trade_transaction_logs_path %>"><i class="fa fa-exclamation-circle"></i>
                    重置查询</a>
                <button type="submit" class="btn btn-primary"><i class="fa fa-fighter-jet"></i> 执行查询</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-heading">
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#search_form_modal">
                    <i class="fa fa-search-plus"></i> 查询
                </button>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <th>应付总额</th>
                        <th>实付总额</th>
                        <th>获得积分总额</th>
                        <th>商户所得(预估)总额</th>
                        <th>实际刷卡数</th>
                        </thead>
                        <tbody>
                        <td><%= number_with_delimiter money_in_yuan(@money_amount_sum) %></td>
                        <td><%= number_with_delimiter money_in_yuan(@actual_money_amount_sum) %></td>
                        <td><%= number_with_delimiter @credit_delta_sum %></td>
                        <td><%= number_with_delimiter money_in_yuan(@merchant_amount_sum) %></td>
                        <td><%= number_with_delimiter @transaction_count %></td>
                        </tbody>
                    </table>
                    <%= render partial: 'shared/index_table_entries_info', locals: {collection: @trade_transaction_logs, model: 'transaction_log'} %>
                </div>

                <br>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>状态</th>
                            <th>银行卡</th>
                            <th>交易类型</th>
                            <th>交易时间</th>
                            <th>交易金额</th>
                            <th>商户名称</th>
                            <th>商户所得(扣率)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%= render partial: 'transaction_log', collection: @trade_transaction_logs, as: :transaction_log %>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <%= render partial: 'shared/index_table_entries_info', locals: {collection: @trade_transaction_logs, model: 'transaction_log'} %>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

