<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav">
            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i>商户管理</a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">商户列表</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">商户群组管理</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_acquirer_orgs_path %>">收单机构管理</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i>交易明细管理</a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">交易明细</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">在途交易</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">未决交易存档</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">红包交易明细</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i>红包管理</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-dashboard fa-fw"></i>系统功能</a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">系统日志</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">系统参数配置</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">运维用户管理</a>
                    </li>
                </ul>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="<%= merchant_merchant_stores_path %>">卡bin管理</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
